body {
    background-color: #080808;
    color: white;
    padding:0;
    margin: 0;
}

.digito {
    border: 2px solid white;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    margin: 3px;
    font-size: 20px;
    font-weight: 900;

}

.botondiv{
    padding: 0px;
}
button { 
    background-color: #161616;
    width: 90%;
    border: none;
    border: 2px solid white;
    margin-bottom: 2px;
    margin-top : 2px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
}

button:hover { 
    background-color: blue;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.row{
    display: flex;
    align-items: center;
}

.puntos {
    font-weight: 900;
    font-size: 20px;
    display: flex;
    align-items: center;
}